{% extends "base.html" %}
{% load static %}
{% block extra_head %}
{{ block.super }}
<link href="{% static 'careers/careers-pages.css' %}?v=elabout1" rel="stylesheet">
<link href="{% static 'experientiallearning/style.css' %}?v=elscope1" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block content %}
<div class="bmc-page el-career-readiness">
  {% include "_career_hub_nav.html" %}
  <div class="el-legacy-scope">
    {% block el_content %}{% endblock %}
  </div>
</div>
{% endblock %}
