
{% extends 'base.html' %}

{% block content %}
<!-- templates/courses.html -->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0;">

    
<link id="wsite-base-style" rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/sites.css?buildTime=1668539559" />
<link rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/old/fancybox.css?1668093892" />
<link rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/social-icons.css?buildtime=1668093892" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="/files/main_style.css?1668096927" title="wsite-theme-css" />
<style>
    .subnav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .subnav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 20px;
    }
  
    .subnav li {
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
  
    .subnav a {
      text-decoration: none;
      color: #333;
      transition: color 0.3s ease-in-out;
    }
  
    .subnav a:hover {
      color: #007bff;
    }
  </style>

<script>
var STATIC_BASE = '//cdn1.editmysite.com/';
var ASSETS_BASE = '//cdn2.editmysite.com/';
var STYLE_PREFIX = 'wsite';
</script>
<script src='https://cdn2.editmysite.com/js/jquery-1.8.3.min.js'></script>

<script type="text/javascript" src="//cdn2.editmysite.com/js/lang/en/stl.js?buildTime=1668093892&"></script>
    <script src="//cdn2.editmysite.com/js/site/main.js?buildTime=1668539559"></script><script type="text/javascript"> </script>
    <script type="text/javascript"> _W = _W || {}; _W.securePrefix='freshmanroadmap.weebly.com'; </script><script>_W = _W || {};
            _W.customerLocale = "en_US";
            _W.storeName = null;
            _W.isCheckoutReskin = false;
            _W.storeCountry = "US";
            _W.storeCurrency = "USD";
            _W.storeEuPrivacyPolicyUrl = "";
            com_currentSite = "623578126324040655";
            com_userID = "143641134";</script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script>_W.relinquish && _W.relinquish()</script>
<script type="text/javascript" src="//cdn2.editmysite.com/js/lang/en/stl.js?buildTime=1668539559&"></script><script> _W.themePlugins = [];</script><script type="text/javascript"> _W.recaptchaUrl = "https://www.google.com/recaptcha/api.js"; </script><script type="text/javascript"> 

</script>
</head>


<div class="wsite-section-wrap">
<div  class="wsite-section wsite-header-section wsite-section-bg-image wsite-section-effect-reveal" style="vertical-align: middle;height: 378px;background-image: url(&quot;https://upload.wikimedia.org/wikipedia/commons/9/96/Murray_Hill%2C_Manhattan.jpg&quot;) ;background-repeat: no-repeat ;background-position: undefined undefined ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
<div class="wsite-section-content">
    
    <div class="banner">
        <div class="banner-inner">
        <div class="wsite-section-elements" >
            <h2 class="wsite-content-title" style ="font-size:80px;color: rgb(247, 248, 249);background-color: rgba(0, 0, 0, 0.3);font-family: Koh Santepheap;">Check List</h2>
        </div>
    </div>
    </div>

</div>

</div>
</div>

<div class="subnav">
    <ul>
      <li><a href="#bmccIDCard">BMCC ID Card</a></li>
      <li><a href="#BMCCEmail">BMCC Email</a></li>
      <li><a href="#BorrowingEquipment">Borrowing Equipment</a></li>
      <li><a href="#libraryHours">Library Hours</a></li>
      <li><a href="#directDeposit">Direct Deposit</a></li>
    </ul>
  
  </div>
  <br> <p style="font-size: 25px; color: rgb(234, 161, 24);">Note, by clicking on the title of each link, you will be navigated to our BMCC webpages.</p> 
<hr>
<div class="content" style="font-family: Koh Santepheap; display: flex; flex-direction: column; align-items: center;">
<div class="content1" style="font-family: Koh Santepheap;"> 
<div class="bmcc_id_section" style="max-width: 60%;display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: left; margin: 0 auto;">
<img src="https://servicedesk.bmcc.cuny.edu/TDPortal/Images/Viewer?fileName=371ae16a-f3d7-47a2-a563-84e22c7255ca.png" alt="BMCC ID" style="width:200px;height:300px;margin-top: 50px;">

<div>
<h2 id="bmccIDCard"style="color: blue;"> <a href="https://servicedesk.bmcc.cuny.edu/TDClient/33/Portal/KB/ArticleDet?ID=1026" target="_blank">Obtaining a New or Replacement ID Card</a></h2>
<h3>ID card printing is currently available to all registered students and active employees at the Service Desk located in room S-141 of 199 Chambers street, 
    weekdays from 8:00am to 8:00pm. </h3>
    <p>Every BMCC student and staff member must have a validated identification (ID) card at all times. Members of the BMCC community must have their ID card to enter the college, to enter the library, to borrow library books, or to collect student paychecks from the college. Students are expected to present their ID card to any college official (security officer, administrator, faculty and staff member, etc.) who requests such identification.</p>

        <p><strong>your ID card is not working, please visit the Service Desk in person at room S141.</strong><hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"> </p>
    </div>
<h2 style="color: orange;">Obtaining a New ID Card <hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>
<p>New students can obtain a BMCC ID card from the Service Desk located at room S-141. Students must be registered for classes before they can obtain an ID card and must provide a form of photo identification.

    Newly hired faculty and staff can obtain a BMCC ID card from the Service Desk after Human Resources processes their information in CUNYFirst and they are entered into the ID system. Faculty and staff must provide a form of photo identification as well as an authorization slip from Human Resources, located at room S-717. Research Foundation and contractor employees must be entered into the ID system by the Office of Sponsored Programs before they can obtain an ID card, and must provide both a form of photo identification and an ID request form from their supervisor to obtain an ID card from the Service Desk.</p>
    <h2 style="color:orange">Replacing a Lost ID Card<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   
    <p>A signed ID replacement form is required to obtain a replacement ID card. The form must first be brought to the Bursar's Office, room S330, and a $10 replacement fee must be paid. Then bring the signed ID replacement form to the Service Desk, room S141, to obtain a replacement ID card.

    The ID replacement form can be found  <a href="https://www.dropbox.com/scl/fi/2209oq537gb92hzwawzv4/ID-Replacement-Form.pdf?rlkey=f3oo7k5lscjcx92wr7wqqpf5g&dl=0" target="_blank">here</a>  </p>
    <h2 style="color: orange;">Schedule an Appointment<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   
    <p> <br>Schedule an appointment using the QLess app or our <a href="https://kiosk.na1.qless.com/kiosk/app/home/100100000283">online kiosk</a> </p>
</div>
<hr id="BMCCEmail"style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;">
</div>

<div class="content2" style="font-family: Koh Santepheap;"> 

<div class="bmcc_email_section" style="max-width: 60%;display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: left; margin: 0 auto;">
    <img src="https://openlab.bmcc.cuny.edu/bmcc-asap-peer-mentors/wp-content/uploads/sites/2624/2022/09/PinClipart.com_mind-map-clipart_459945.png" alt="BMCC ID" style="width:200px;height:200px;margin-top: 50px;">

    <div>
    <h2  style="color: blue;"> <a href="https://www.bmcc.cuny.edu/irt/bmcc-email/" target="_blank">BMCC Email</a></h2>
    <h3>We provide email accounts to Students, Faculty and Staff. Below are the requirements to obtain an account and a list of services available to each.</h3>
    <h3>Students*</h3>
        <p>Username example: <strong>John.Smith (Firstname.Lastname)</strong>
            Email address example: <strong>John.Smith@stu.bmcc.cuny.edu</strong></p>
            <ul>
                <li>BMCC Portal</li>
                <li>Email</li>
                <li><a href="https://www.bmcc.cuny.edu/irt/wi-fi-on-ios/" target="_blank">(Click here for Wireless Access (Wi-Fi))</a></li>
                <li>Computers</li>
                <li>Library Database</li>
                <li>Printing and Copying</li>
            </ul>

            <p><strong>* Student BMCC accounts are created after enrolling for at least one class.</strong><hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"> </p>
        </div>
    <h2 style="color: orange;">CONTACT<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>
            <ul  >
    
        <li>BMCC Service Desk</li>
        <li>(212) 220-8379</li>
        <li>userservices@bmcc.cuny.edu</li>
        <li>Room S-141</li></ul>
        
        <h2 style="color:orange">Need help?<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   
        <ul>
        <li>To claim your BMCC Account or reset your password online any time (24/7), from anywhere <a href="https://repass.bmcc.cuny.edu/UI#aw/PasswordResetCenter">click here.</a></li>
            
            <li>Passwords expire every 90 days.</li>
        </ul>
        
        
    </div>
    <hr id="BorrowingEquipment"style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;">
</div>
<div class="content3" style="font-family: Koh Santepheap;"> 

    <div class="bmcc_device_section" style="max-width: 60%;display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: left; margin: 0 auto;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/2048px-Circle-icons-computer.svg.png" alt="Borrowing Device" style="width:200px;height:200px;margin-top: 50px;">
    
        <div>
        <h2 style="color: blue;"> <a href="https://www.bmcc.cuny.edu/library/services/borrow-renew-request/borrowing-equipment/" target="_blank"> Borrowing Equipment</a></h2>
        
            <p>The Library has laptops, tablets, graphing and scientific calculators, and other equipment. Equipment can be borrowed from the Circulation Desk.</p>
                
                <p><strong>To borrow equipment from the Circulation Desk, students must have a valid <a href="#bmccIDCard">BMCC ID card</a>. The CUNY appropriate computer usage policy applies to all computer usage, including use of Laptops and Tablets.</strong><hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"> </p>
            </div>
        <h2 style="color: orange;">Distance Learning Devices<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>
            <p>Chromebooks, iPads, and Bluetooth keyboards are available for loan for currently registered students who need these devices for distance learning.  They can be borrowed until the end of the semester. 

            Current information about device pickup and return is available on our blog.</p>
            
            <h2 style="color:orange">Laptops<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   
            <ul>
            <li>They can be checked out a half hour after the library opens.</li>                    
                <li>Last checkout is a half hour before closing.</li>
                <li>Laptops can be borrowed for three hours at a time and can be renewed once.</li>
                <li>Anything you wish to save must be saved to a USB drive. To print from laptops, please see our instructions.</li>
            </ul>
            
            <h2 style="color:orange">Other Devices<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   
            <ul>
            <li>Tablets<br>
                Tablets can be checked out a half-hour after the library opens. They can be borrowed for three days and can be renewed once.</li>                    
                <li>Flash Drives<br>
                    A small number of USB flash drives are available to use with Library equipment. They can be borrowed from the Circulation Desk.</li>
                <li>Calculators<br>
                    We have several dozen scientific calculators. They can be checked out for eight weeks.
                    
                    Graphing calculators are available to be checked out for seven days.</li>
                <li>Battery Chargers<br>
                    Chargers are available for three-hour loan. While the chargers work with most devices Apple users are advised to bring their own cable to plug into the charger.</li>
            </ul>
            <h2 style="color:orange">Policies<hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"></h2>   

            <p>Equipment is subject to overdue fines of $15 for every hour late up to a maximum of $150.  Replacement and repair fees may also be charged if the equipment is damaged.  For more information please see our Policies Page.</p>
       
            </ul>
            <h2 id="libraryHours"style="color: orange;"><br><br><br><br>Library Hours</h2>
            <ul style="list-style: none;text-align: center;font-size:25px; font-weight: 500;">
                 <li style="color: orange;">SundayLibrary Closed</li>
                <li style="color:orange ; text-align: center;">Monday</li>
                <li style="text-align: center;">Library: 9am - 5pm</li>
                <li style=" color:orange ;text-align: center;"> Tuesday</li>
                <li style="text-align: center;"> Library: 9am - 5pm</li>
                <li style="text-align: center;">Online Help: 9am - 5pm</li>
                <li style=" color:orange ;text-align: center;">Wednesday</li>
                <li style="text-align: center;">Library: 9am - 5pm</li>
                <li style="text-align: center;">Online Help: 9am - 5pm</li>
                <li style=" color:orange ;text-align: center;">Thursday</li>
                <li style="text-align: center;">Library: 9am - 5pm</li>
                <li style="text-align: center;">Online Help: 9am - 5pm</li>
                <li style="color:orange ;text-align: center;">FridayLibrary Closed</li>
                <li style="color:orange ;text-align: center;">SaturdayLibrary Closed</li>
        </div>
        <hr id="directDeposit"style="height: 1px; background-color: #ccc; border: none; margin: 20px 0; ">
    </div>


</div>
<div class="content4" style="font-family: Koh Santepheap;"> 

    <div class="Direct_Deposit_section" style="max-width: 100%;display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: left; margin: 0 20px;">
        <img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/CUNY_DirectDeposit.jpg" alt="Direct Deposit" style="margin-left:300px;width:300px;height:200px;margin-top: 50px;">
    
        <div>
        <h2 style="color: blue;"> <a href="https://www.cuny.edu/financial-aid/tuition-and-college-costs/refunds/direct-deposit/" target="_blank"> Direct Deposit </a></h2>
        <h4>CUNY offers Direct Deposit for students to receive their Financial Aid and Tuition refunds, including their Federal Work Study payments. Direct Deposit eliminates the chance that your check will get lost, misdirected, or delayed during delivery, or misplaced once you receive it. You will not need to physically visit a bank to make a deposit. There are no fees from CUNY for using Direct Deposit. Signing up is EASY! Enroll TODAY.

            Direct Deposit will transfer funds directly to student's personal bank account.</h4>
        <h3>Follow these steps to enroll and update your direct deposit account:</h3>
        <h4>1. Collect Necessary Banking Info and Log On to CUNYFIRST</h4>
        <p>Find Your Bank's Routing Number
            <br>
            The Routing/ABA (American Banker's Association) Number is used to identify your specific financial institution.
        </p>
                <ul>
                    <li>Checking Accounts - The routing number is found at the bottom of your personal check.</li>
                    <li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/Check-image.gif" alt="Direct Deposit1" style="width:300px;height:200px;margin-top: 50px;">
                    </li>
                    <li>Savings Accounts - Contact your financial institution to obtain your routing number.</li>
                    <li>Warning: A bank may have several routing numbers. Enter the specific routing number listed on your check or provided by your bank to prevent delays in processing your refunds.</li>
                    
                </ul>
                <p>Sign-In to CUNYfirst</p>
                <h4>2. Enroll In Direct Deposit
                    <br>
                    Navigation
                    <br>
                    Navigate to: Student Center > CUNY Direct Deposit
                </h4>
                <ul>
                <li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/enroll_direct_deposit.png" alt="Direct Deposit1" style="width:700px;height:400px;margin-top: 50px;">
                </ul>
                
                <h4>Enrollment
                    <br>
                    Click on “Enroll in Direct Deposit”.
                </h4>
                <ul>
                <li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/direct_deposit_navigation.png" alt="Direct Deposit1" style="width:700px;height:400px;margin-top: 50px;">
                    </li>
                </ul>
                <h4>Verification
                    <br>
                    Verify the Employee ID and UserID. Enter your password and follow the validation steps to proceed.
                </h4>
                <ul>
                    <li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/verify_direct_deposit.png" alt="Direct Deposit1" style="width:700px;height:400px;margin-top: 50px;">
                    </li>
                </ul>
                <h4>Enter your Banking Information
                    <br>
                    On the “Direct Deposit Details” page, enter your banking information. Read the Agreement, click "Yes" to agree, and click 'Submit' to finish the enrollment process.
                </h4>
                <ul><li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/direct_deposit_details.png" alt="Direct Deposit1" style="width:700px;height:400px;margin-top: 50px;">
                </li>
                </ul>
                <h4>Confirmation
                    <br>
                    The account will be listed on the “Direct Deposit” page.
                </h4>
                <ul>
                    <li><img src="https://www.cuny.edu/wp-content/uploads/sites/4/page-assets/financial-aid/tuition-and-college-costs/refunds/direct-deposit/direct_deposit_account.png" alt="Direct Deposit1" style="width:700px;height:400px;margin-top: 50px;">
                    </li>
                </ul>
                <p><strong>* Student BMCC accounts are created after enrolling for at least one class.</strong><hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;"> </p>
            </div> 
            </div>
        <hr style="height: 1px; background-color: #ccc; border: none; margin: 20px 0;">
    </div>
</html>
{% endblock %}