{% extends 'base.html' %}

{% block content %}
  <style>
    .sub2-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/internshipPhoto.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

 }

 .sub2-header h1{
    margin-top: 100px;
 }

 .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .event-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .event-box h3 {
    margin-bottom: 10px;
  }

  .button1{
  padding: 0 8px;
  display: inline-block;
  background-color: rgba(0, 65, 150, 1);
  text-decoration: none;
  color: #fff;
  text-align: left;  
  text-decoration: none;
  border-bottom: #999e9e solid 7px;
  border-right: #999e9e solid 7px;
  overflow: hidden;
 }
 .button1:hover{
  background-color: rgba(255, 102, 0, 1);
  color: rgba(0, 65, 150, 1);
  padding-bottom: 1px;
  padding-right: 9px;
  border-bottom: #4f5151 solid 6px;
  border-right: #4f5151 solid 5px;
}
  .event-description {
    margin-bottom: 20px;
  }
  
  .event-details {
    margin-bottom: 10px;
  }
  
  .add-event-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected-events {
    margin-top: 40px;
    text-align: left;
  }
  
  .selected-events h2 {
    margin-bottom: 20px;
  }
  
  .selected-events-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-event-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  .selected-events-list li {
    margin-bottom: 10px;
  }
  </style>
  <div class="sub2-header">
    <h1>EVENTS</h1>
  </div>
  


  <section class="events">
    <h1>Upcoming Events</h1>

    <div class="search-bar">
      <input type="text" placeholder="Search events">
      <button class="search-btn">Search</button>
    </div>

    <div class="event-list">
      {% for event in events %}
      <div class="event-box">        
        <h3><a class="button1" target="_blank" href = "{{ event.eventLink }}" >{{ event.eventName }}</a></h3>
        <p class="event-details"><i class="fa fa-calendar"></i> {{ event.eventDate }}</p>
        <p class="event-details"><i class="fa fa-clock-o"></i> {{ event.eventTime }}</p>
        <p class="event-details"><i class="fa fa-map-marker"></i> {{ event.eventLocation }}</p>
        {% if user.is_authenticated %}
          {% if event in user.events.all %}
              <button class="add-event-btn" id="join-button-{{ event.id }}" onclick="joinEvent({{ event.id }})">Remove from Your Events</button>
          {% elif event not in user.events.all %}
              <button class="add-event-btn" id="join-button-{{ event.id }}" onclick="joinEvent({{ event.id }})">Add to Your Events</button>
          {% endif %}                      
        {% endif %}
        <script>
          function joinEvent(eventId) {
           $.ajax({
               url: 'join/' + eventId + '/',
               type: 'POST',
               dataType: 'json',
               headers: {'X-CSRFToken': '{{ csrf_token }}'},
               success: function (data) {
                   var joinButton = $('#join-button-' + eventId); 
      
                   if (joinButton.text()=='Add to Your Events') {
                       joinButton.text('Remove from Your Events'); // Update button text
                   } else if(joinButton.text()!='Add to Your Events') {
                       joinButton.text('Add to Your Events'); // Update button text
                   }
               }
           });
          }
        </script> 
      </div>
      {% endfor %}
      
  {% endblock %}


  
</body>
</html>
