{% extends "base.html" %}
{% load static %}

{% block title %}Mentors — BMCConnect{% endblock %}

{% block extra_head %}
<link href="{% static 'lisandros-stunning-site-01bdb5.webflow.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'webflow.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="team-rectangles">
  <div class="hero2">
    <div class="imagecontainer">
      <div class="bmcconnect2-0">Find Mentors!</div>
    </div>
  </div>
  <a href="{% url 'mentor_registration' %}" id="button1">Become A Mentor</a>
  <a href="{% url 'mentee_registration' %}" id="button1">Become A Mentee</a>
  {% if user.is_authenticated %}
    {% if user.is_mentee or user.is_mentor %}
      <a href="{% url 'matchmaking' %}" id="button1">Match</a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
