{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<h1>Sign in</h1>
<form method="post" class="ibm-row-form" action="{% url 'signin' %}">
  {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <input type="text" name="username" placeholder="Username" autocomplete="username">
  <input type="password" name="password" placeholder="Password" autocomplete="current-password">
  <input class="navbar-button w-nav-link text-3" type="submit" value="Sign in">
</form>
<p><a class="navbar-button w-nav-link text-3 footer-ting" href="{% url 'signup' %}">Create an account</a></p>
{% endblock %}
