{% load static %}
<div class="footer">
  <div class="column-2">
    <div class="logo-wrapper">
      <img src="{% static 'Logo_1.png' %}" loading="lazy" width="287" height="68" srcset="{% static 'Logo_1-p-500.png' %}" sizes="(max-width: 479px) 60vw, 287px" alt="" class="logo-2">
    </div>
  </div>
  <div class="copyright">
    <a target="_blank" href="https://sites.google.com/view/bmcctechinterns" style="color:white;">
      <div class="text-6">Copyright &copy; <script>document.write(new Date().getFullYear());</script> BMCC Technology Learning Community Internship</div>
    </a>
  </div>
</div>
