{% extends "base_el.html" %}
{% load static %}
{% block title %}Login · Career readiness{% endblock %}
{% block el_content %}
{% include 'experientiallearning/_messages.html' %}
<section class="sub3-header">
    <h1>LOGIN</h1>
</section>

<section class="form-section">
    <h2>Login</h2>
    <form action="{% url 'experientiallearning:login_submit' %}" method="POST">
{% csrf_token %}
        <div class="form-group">
            <label for="cuny-id">CunyID</label>
            <input type="text" id="cuny-id" name="cunyEMPLD" required>
        </div>
        <div class="form-group">
            <button type="submit" class="form-submit-btn">Login</button>
        </div>
    </form>
</section>
{% endblock %}
